<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img *ngFor="let i of images" class="card-img-top img-fluid" src="http://localhost:3000/files/2/{{i.id}}">
      </div>
      <div class="card-content">
        <h5 class="card-title">{{productDetails.name}}</h5>
        <p class="card-text">Descripción: {{productDetails.description}}</p>
        <p class="card-text">Precio: {{productDetails.price | currency}}</p>
        <p class="card-text">Categoria: {{productDetails.category.name}}</p>
        <p class="card-text">Marca: {{productDetails.brand.name}}</p>
        <p class="card-text">Disponibles: {{productDetails.stock}}</p>
      </div>
      <div class="card-action">
        <div class="row">
          <div class="col s5">
            <!-- Boton regresar atrás -->
            <button class="waves-effect waves-light btn-small blue" (click)="backToHome()" type="button"
              name="action">Atras
              <i class="material-icons right">arrow_back</i>
            </button>
            &nbsp;
            <!-- Boton carrito de compras -->
            <button class="waves-effect waves-light btn-small orange" (click)="AddToShoppingCart()" type="button"
              name="action">Añadir
              <i class="material-icons right">add_shopping_cart</i>
            </button>
          </div>
          <div class="col s4">
            <input type="number" value="1" [(ngModel)]="amount">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>