<div class="row">
    <h5>¿Qué estas buscando?</h5>
    <div class="col">
        <div class="form-group">
            <input type="text" class="form-control" name="filterProduct" placeholder="Buscar producto..."
                [(ngModel)]="filterProduct">
            <!-- [(ngModel)]="filterProduct" -->
        </div>
    </div>
</div>
<div class="row">
    <div *ngFor="let p of productList | filter:filterProduct" class="col s3 m3">
        <!-- filter:filterProduct -->
        <div class="col s12 m12 card">
            <div class="card-image">
                <img src="http://localhost:3000/files/2/{{p.images[0].id}}" class="productImage" />
                <!-- <span class="card-title">Name: {{p.name}}</span> -->
            </div>
            <div class="card-content">
                <h5 class="card-text">{{p.name | titlecase}}</h5>
                <p class="card-text">Precio: {{p.price | currency}}</p>
                <p class="card-text">Disponibles: {{p.stock}}</p>
            </div>

            <button class="waves-effect waves-light btn-small blue" (click)="OpenDetails(p.id)" type="button"
                name="action">Ver mas
            </button>


        </div>
    </div>
</div>