<fieldset>
  <legend>Register Form</legend>
  <div class="row">
    <form [formGroup]="fgValidator" class="col s12" id="reg-form">
      <div class="row">
        <div class="input-field col s3">
          <i class="material-icons prefix">assignment_ind</i>
          <input formControlName="document" id="document" type="text">
          <label for="document">Document</label>
        </div>
        <div class="input-field col s3">
          <i class="material-icons prefix">phone</i>
          <input formControlName="phone" id="cellphone" type="text">
          <label for="cellphone">Cellphone</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input formControlName="email" id="email" type="email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input formControlName="name" id="first_name" type="text">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input formControlName="lastname" id="last_name" type="text">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">map</i>
          <input formControlName="city" id="city" type="text">
          <label for="city">City</label>
        </div>
        <div class="input-field col s8">
          <i class="material-icons prefix">add_location</i>
          <input formControlName="address" id="address" type="text">
          <label for="address">Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <button (click)="CustomerRegisterFn()" class="btn btn-large btn-register waves-effect waves-light orange" type="submit" name="action">Register
            <i class="material-icons right">done</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</fieldset>
