<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
      <form [formGroup]="fgValidator" class="login-form">
        <div class="row">
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input formControlName="currentPassword" class="validate" id="currentPassword" type="password">
                <label for="currentPassword" data-error="wrong" data-success="right">Current Password</label>
                <div class="warning-validator" *ngIf="fgv.currentPassword.errors && (fgv.currentPassword.dirty || fgv.usercurrentPasswordname.touched)">
                  <strong *ngIf="fgv.currentPassword.errors.required">
                    This field is required.
                  </strong>
                </div>
              </div>
          <div class="input-field col s12">
            <input formControlName="newPassword" class="validate" id="newPassword" type="password">
            <label for="newPassword" data-error="wrong" data-success="right">New Password</label>
            <div class="warning-validator" *ngIf="fgv.newPassword.errors && (fgv.newPassword.dirty || fgv.newPassword.touched)">
              <strong *ngIf="fgv.newPassword.errors.required">
                This field is required.
              </strong>
            </div>
          </div>
          <div class="input-field col s12">
            <input formControlName="newPassword2" class="validate" id="newPassword2" type="password">
            <label for="newPassword2" data-error="wrong" data-success="right">Confirm New Password</label>
            <div class="warning-validator" *ngIf="fgv.newPassword2.errors && (fgv.newPassword2.dirty || fgv.newPassword2.touched)">
              <strong *ngIf="fgv.newPassword2.errors.required">
                This field is required.
              </strong>
            </div>
          </div>
        
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button (click)="ChangePasswordFn()" class="btn waves-effect waves-light" type="button" name="action">Reset
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>

